html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background-color: #678FF2;
    font-style: normal;
    width: 100vw;;

}

h1, h2, h3, h4, h5 {
    margin: 0;
}
:root{
    --main-bg-color: #678FF2;
    --main-text-color: white;
    --second-text-color: black;
    --light-blue: #789BF3;
}

h2 {
    margin-top: 10rem;
}

body{
    margin:0px;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    min-width: 32rem;
}
body ul {
  padding: 0;
}

header {
    background-color: var(--background2);
    border-bottom: solid var(--main-text-color) 0.1rem;
  }
.header {
    background-color: var(--background2);
    display: flex;
    justify-content: space-between;
    border-left: solid var(--main-text-color) 0.1rem;
    max-width: 1920px;
    margin: 0 auto;
  }
.header .header_ {
    display: none;
    font-size: 2rem;
    margin: auto 9.5rem;
  }

.header .logo {
    font-size: 2.3rem;
    border-right: solid var(--main-text-color) 0.1rem;
    padding-right: 5rem;
    padding: 1rem 2.9rem;
    padding-right: 5rem;
  }
.logo{
    color:var(--main-text-color);
    font-weight: 900;
    font-size:2.3rem;
    line-height: 3rem;
    text-decoration: none;
    border-right: solid var(--main-text-color) 0.1rem;
    padding: 1rem 2rem;
}

.nav_links {
    display: inline-block;
    padding: 1rem 2rem;
    color:var(--main-text-color);
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3rem;
    text-decoration: none;
}

.menu {
    background-color: var(--main-bg-color);
    border:none;
    padding: 0rem 2rem;
}
/* Intro */

.intro {
    display: flex;
    justify-content: center;
    justify-items:center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
} 
.intro_p{
    max-width:30rem;
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--second-text-color);
    line-height: 95%;
    text-align: left;
    padding: 0 2rem 5rem 2rem;
    margin-top: 15rem;
}

.black_button_1{
    display: block;
    height: 4.8rem;
    padding: 0.8rem 2.5rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-top: 2rem;
    min-width: 26rem;
    max-width: 38rem;
    font-size: 1.8rem;
    background: var(--second-text-color);
    border-radius: 2.4rem;
    border-color: 2.4rem;
    text-decoration: none;
    color: var(--main-text-color);
    top: 7rem;
}
.pigeonart {
    min-width: 31.6rem;
    max-width: 58.3rem;
    align-items: center;
    margin: 0 auto;
  }

.pigeon {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--second-text-color);
    border-radius: 2rem;
    background-color: var(--main-bg-color);
    height: auto;
    z-index: 2;
    margin: 15rem 5rem auto 5rem;
    box-shadow: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.6);
}
.pigeon img {
    position: absolute;
    bottom: 0;
    left: -4rem;
    min-width: 16rem;
  }
  
.pigeon button {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    line-height: 140%;
    font-weight: bold;
    border: none;
    background: none;
    padding: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
  
.pigeon p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
    font-weight: bold;
    text-align: left;
    padding: 0rem 1rem 0.5rem 10rem;
    margin: 1rem 0 0 0;
    border-bottom: 1.5px solid var(--main-text-color);
}

.accept{
    display: block;
    font-size: 3rem;
    font-weight: 300;
    line-height: 140%;
    font-weight: bold;
    background: none;
    padding: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color:var(--second-text-color);
    font-size: 2.5rem;
    line-height: 1.4rem;
    font-weight: 700;
    border-top: 1.5px solid var(--main-text-color);

}

 #scroll{
    color:var(--main-text-color);
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 700;
 }

 .word {
    color:var(--second-text-color);
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 500;
 }

 .words {
    color:var(--second-text-color);
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 300;
 }

 .words2 {
    color:var(--main-text-color);
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 300;
 }

h2{
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3rem;
    text-align: center;
}

h3{
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 3.5rem; 
    line-height: 2.8rem;
}

.exp{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-items:center;
    justify-content:center;
    align-items:stretch;
}

.exp li {
    display:block;
    min-width: 32rem;
    background-color: var(--main-bg-color);
    border-radius: 2rem;
    width: 15rem;
    margin: 3rem;
    box-shadow: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.1);

}
.exp li:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    background-color: #4c73d5;
    transition: .4s;
    
}
.exp a {
    padding: 0;
    margin: 0;
    align-self: flex-end;
    text-decoration: none;
    text-align: center;
}
.exp p {
    color: var(--main-text-color);
    font-weight: 300;
    font-size: 2.5rem; 
    line-height: 2.5rem;
    text-decoration: none;
    margin: 2rem;
}
.exp img {
    min-width: 32rem;
    margin:0;
    padding: 0;
    align-self: flex-end;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

 .rewiew{
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 1.4rem; 
    line-height: 1.8rem;
    display: block;
    min-width: 300px;
    max-width: 500px;
}
 
.form_intro {
    color: var(--second-text-color);
    font-weight: 700;
    font-size: 3.5rem; 
    line-height: 4rem;
    text-align: center;
}

.how {
   
    margin: 0 auto;
}
.wowlist{
    display: grid;
    padding:2rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items:stretch;
    justify-items: center;

}
.wowlist li {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 2rem;
    padding: 2rem;
    width: 11rem;
    margin: 0rem;
    box-shadow: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.1);

}

.wowlist li:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    background-color: #4c73d5;
    transition: .4s;
    
}


.wowlist li:hover > .words {
    color:var(--main-text-color);
    transition: .4s;
}
.wowlist li:hover > .word {
    color:var(--main-text-color);
    transition: .4s;
}
.wowlist img{
    width: 4.5rem;
    height: 4.5rem;
}


.word {
    color:var(--second-text-color);
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 500;
    margin:0;
    text-align: center;
 }

 .words {
    color:var(--second-text-color);
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 300;
    margin:0;
    text-align: center;
 }

 
 .laptop:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: url(photo/laptop.png);
 }    
.width-1440 {
    border-bottom: 1.5px solid var(--main-text-color);
    margin-top: 10rem;
}

.left {
    text-align: left;
}

.left img {
    display: block;
    margin-left: auto;
    margin-right: -2rem;
}

.right {
    text-align: right;
    width: 100%;
}
.right img {
    display: block;
    justify-content: left;
    margin-right: auto;
    margin-left: -2.8rem;
    margin-top: -10rem;
}
.table {
    display: flex;
    flex-direction: column;
}
  .table .spictures {
    display: none;
}
  .table p {
    width: 32rem;
    margin: 2rem 0 0 0;
}
  
  .table h3 {
    margin: 0;
}
.right .table p {
    display: block;
    margin-right: 0rem;
    margin-left: auto;
} 
.second_ul {
        margin: 2rem 2rem 0 2rem;
        list-style-type: none;
}
      
.second_ul h3 {
        font-size: 3.5rem;
        font-weight: 500;
        color: var(--main-text-color);
}
      
.second_ul p {
        font-size: 1.8rem;
        color: var(--main-text-color);
        line-height: 110%;
        font-weight: 300;
}
.otz {
    padding-top: 10rem;
}
  .otz p {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 129%;
}
.Testimonials {
    font-size: 3rem;
    line-height: 100%;
    font-weight: 500;
    margin-bottom: 6.3rem;
}
.feedback {
    width: 28rem;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    padding: 4rem;
    width: 32rem;
}
  
.feedback img {
    display: block;
    border-radius: 50%;
    margin: -1.5rem 0 0 -2.5rem;
}
  .feedback p {
    padding-top: 1.5rem;
    color: var(--main-text-color);
}
.test {
    max-width: 35rem;
    text-align: center;
    background-image: url(/);
    height: 21.3rem;
    margin: 1rem auto;
}
.otz button {
    background-color: var(--main-bg-color);
    border: none;
}
.last {
    padding-bottom: 12rem;
    padding-top: 11rem;
}
.radioflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7.5rem;
    align-items: center;
}
.radioflex button {
    border-radius: 50%;
}
  
.radioflex img:hover {
    transform: scale(1.25);
    transition: transform 0.5s;
}
  
.radioflex img:active {
    transform: scale(1);
    transition: transform 0.2s;
  }
.radio {
    margin: 5rem 0.5rem;
  }
.last h2 {
    color: var(--second-text-color);
} 
.registration {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    line-height: 167%;
    padding: 3.5rem;
    align-items: stretch;
    max-width: 62rem;
    margin: 0 auto;
    text-align: left;
}
  
.registration input {
    padding: 0.85rem 2.8rem 0.85rem 2.8rem;
    border: solid var(--blue) 0.1rem;
    border-radius: 9rem;
    margin-bottom: 2.3rem;
    width: 100%;
    box-sizing: border-box;
}

.black_button_2{
    display: block;
    width: 100%;
    height: 5.2rem;
    border-radius: 90px;
    color:var(--main-text-color);
    background-color: var(--second-text-color);
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    line-height: 30px;
    font-weight: 700;
    
}

.soc {
    display:flex;
    padding: 5rem 1rem 2rem 5rem;
    justify-content: right;
    margin: 0; /* Обнуляем значение отступов */
    padding: 4rem; /* Значение полей */
    list-style-type: none;

}
.soc_svg {
    margin: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    display: inline;


}

.policy{
  margin:0 auto;
  background-color: var(--light-blue);
  border-top: solid var(--main-text-color) 0.1rem;
}
.foot1 {
    color: var(--main-text-color);
    font-weight: 300;
    font-size: 2.2rem; 
    line-height: 30px;
    text-decoration: none;
}

.foot2 {
    color: var(--main-text-color);
    font-weight: 300;
    font-size: 1.4rem; 
    line-height: 30px;
}


@media all and (min-width: 768px) {
  .wowlist {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7rem;
    align-content: center;
    align-items: center;
  }
}